* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 640px;
  min-height: 600px;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #191c29;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  background-color: rgb(103, 107, 133);
  height: 50px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 290px;
}

.box-user-1{
  background-color: rgb(103, 107, 133);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-block: 10px;
  margin-left: 400px;
  padding: 10px;
}

.box-user-2{
  background-color: rgb(103, 107, 133);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-block: 10px;
  margin-right: 400px;
  padding: 10px;
}
